@{ var conferencias = ((List<Conferencia>)Model); }

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Conf.css">
</head>

<body class="index">

    <div class="barra">
        <div class="contenedor clearfix">
            <div class="logo">
                <a href="/Home">
                    <img src="/img/LOGO.png" alt="logo">
                </a>
            </div>

            <div class="menu-movil">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="navegacion-principal clearfix">
                <a href="conferencias">Conferencias</a>
                <a href="/#">Calendario</a>
                <a href="/#">Invitados</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Login">Login</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Logout">LogOut</a>
                    <a href="/#">@User.Claims.FirstOrDefault().Value</a>
                }
            </nav>
        </div>
        <!--.contenedor-->
    </div>
    <!--.barra-->

    <!--.Contenido-->

    <form class="form-inline">
        <div class="form-group mb-2">
            <input class="form-control" style="background-color:transparent; " type="search" placeholder="Buscar" name="search" value="@ViewBag.Buscar">
        </div>
        <button class="form-control btn btn-outline-dark btn-sm" type="button">Buscar</button>
    </form>

    <section class="precios seccion">
        <h2>Mis conferencias</h2>
        <div class="contenedor">
            <ul class="lista-precios clearfix">
                @foreach (var item in Model)
                {
                    @foreach (var conferencia in ViewBag.Compras)
                    {
                        @if (item.Id == conferencia.IdConferencia)
                        {
                            <li>
                                <div class="tabla-precio">
                                    <h3>@item.TituloConf</h3>
                                    <div class="course-card--image-wrapper--Sxd90"> <img alt="" width="240" height="135" src="@item.ImagePath" srcset="@item.ImagePath 1x, @item.ImagePath 2x"> </div>
                                    <div> __________________________</div>
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> @item.Ponentes.NomApe</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> @item.FechaConf</li>
                                        @*<li>@item.DetalleConf</li>*@
                                    </ul>
                                    <a href="/#" class="button hollow">Acceder a conferencia</a>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </section>
</body>
