@{
    var conferencias = (List<Conferencia>)Model;
    //var compras = (List<Comprar>)ViewBag.Compra;
}

<link href="/css/Detalle.css" rel="stylesheet" />

<body class="index">

    <div class="barra">
        <div class="contenedor clearfix">
            <div class="logo">
                <a href="/Home">
                    <img src="/img/LOGO.png" alt="logo">
                </a>
            </div>

            <div class="menu-movil">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="navegacion-principal clearfix">
                <a href="/conferencia/Pasadas">Mis Conferencias</a>
                <a href="/conferencia/Futuras">Calendario</a>
                <a href="/Ponente/ponente">Invitados</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Login">Login</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Logout">LogOut</a>
                    <a href="/#">@User.Claims.FirstOrDefault().Value</a>
                }
            </nav>
        </div>
        <!--.contenedor-->
    </div>
    <!--.barra-->
    <!--.Contenido-->

    <div class="seccion contenedor">
        <div class="form-group mb-2">
            <input style="background-size:cover; " type="search" name="search" value="@ViewBag.Buscar">
            <button class="button jhan" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
        </div>
    </div>

    <section class="seccion contenedor">

        @if (ViewBag.Usuario != "LanRhXXX")
        {
            <a href="/conferencia/create" class="button hollow">Programar Conferencia</a>
            <bir />
        }

        <h2>Conferencias</h2>
        @if (TempData["COMPRA"] != null)
        {
            <div class="alert alert-danger">
                @TempData["COMPRA"]

            </div>
        }
        <div class="calendario">
            <ul class="lista-precios clearfix">
                @foreach (var item in conferencias)
                {
                    <li>
                        <div class="tabla-precio">
                            <h3>@item.TituloConf</h3>

                            <a class="course-card--image-wrapper--Sxd90" href="/conferencia/Detalle?idConferencia=@item.Id">
                                <img alt="" width="240" height="135" src="@item.ImagePath" srcset="@item.ImagePath 1x, @item.ImagePath 2x">
                            </a>

                            @*<div class="course-card--image-wrapper--Sxd90"> <img alt="" width="240" height="135" src="@item.ImagePath" srcset="@item.ImagePath 1x, @item.ImagePath 2x"> </div>*@
                            <div> __________________________</div>
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> @item.Ponentes.NomApe</li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> @string.Format("{0: hh:mm tt}", item.FechaConf)</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> @string.Format("{0:dd MMMM yyyy}", item.FechaConf)</li>
                            </ul>
                            @if (ViewBag.Usuario != "LanRhXXX")
                            {
                                <a href="/conferencia/Edit?id=@item.Id" class="button hollow"> Editar Conferencia</a>
                            }
                            else
                            {
                                <a href="/conferencia/comprar?idF=@item.Id" class="button hollow">@string.Format("{0:N2}", item.PrecioConf) S/.</a>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>
</body>