@{ var conferencias = (List<Conferencia>)Model; }

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Conf.css">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="h-100 badge badge-dark">Usuario: @User.Claims.FirstOrDefault().Value</h1>
        </div>
    </header>
</body>

<h1>Lista de conferencias</h1>
<bir />
@if (ViewBag.Usuario != "LanRhXXX")
{
    <a href="/conferencia/create">Programar Conferencia</a>
    <bir />
}

<form class="form-inline">
    <input class="form-control mr-sm-2 my-sm-0" type="search" placeholder="Buscar" name="search" value="@ViewBag.Buscar">
    <button class="btn btn-outline-success my-2" type="submit">Buscar</button>
</form>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Imagen</th>
            <th>Ponente</th>
            <th>Fecha</th>
            <th>Titulo</th>
            <th>Precio</th>
            <th>Detalle</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in conferencias)
        {
            @if (item.FechaConf >= DateTime.Now)
            {
                <tr>
                    <td>
                        <img src="@item.ImagePath" width="50" alt="Alternate Text" />
                    </td>
                    <td>@item.Ponentes.NomApe</td>
                    <td>@item.FechaConf</td>
                    <td>@item.TituloConf</td>
                    <td>@item.PrecioConf S/.</td>
                    <td>@item.DetalleConf</td>

                    <td>
                        @if (ViewBag.Usuario != "LanRhXXX")
                        {
                            <a href="/conferencia/edit?id=@item.Id">Editar | </a>
                            <a href="/conferencia/delete?id=@item.Id"> Eliminar </a>
                        }
                        else
                        {
                            <a href="/conferencia/comprar?idF=@item.Id">Comprar</a>
                            @*if () {
            <a href="/conferencia/comprar?idF=@item.Id">Comprar</a>
            }
            else
            {
                <a>Comprado</a>
            }*@
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
