@{ var compra = ((List<Comprar>)Model); }

<body class="index">

    <div class="barra">
        <div class="contenedor clearfix">
            <div class="logo">
                <a href="/Home">
                    <img src="/img/LOGO.png" alt="logo">
                </a>
            </div>

            <div class="menu-movil">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="navegacion-principal clearfix">
                <a href="/conferencia/conferencias">Conferencias</a>
                <a href="/conferencia/Futuras">Calendario</a>
                <a href="/Ponente/ponente">Invitados</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Login">Login</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Logout">LogOut</a>
                    <a href="/#">@User.Claims.FirstOrDefault().Value</a>
                }
            </nav>
        </div>
        <!--.contenedor-->
    </div>
    <!--.barra-->
    <!--.Contenido-->

    <form class="form-inline">
        <div class="form-group mb-2">
            <input class="form-control" style="background-color:transparent; " type="search" placeholder="Buscar" name="search" value="@ViewBag.Buscar">
        </div>
        <button class="form-control btn btn-outline-dark btn-sm" type="button">Buscar</button>
    </form>

    <section class="seccion contenedor">
        <h2>Eventos Anteriores</h2>
        <div class="calendario">
            <ul class="lista-precios clearfix">
                @foreach (var item in compra)
                {
                    <li>
                        <div class="tabla-precio">
                            <h3>@item.Conferencia.TituloConf</h3>
                            <a class="course-card--image-wrapper--Sxd90" href="/conferencia/Detalle?idConferencia=@item.Conferencia.Id">
                                <img alt="" width="240" height="135" src="@item.Conferencia.ImagePath" srcset="@item.Conferencia.ImagePath 1x, @item.Conferencia.ImagePath 2x">
                            </a>
                            @*<div class="course-card--image-wrapper--Sxd90"> <img alt="" width="240" height="135" src="@item.ImagePath" srcset="@item.ImagePath 1x, @item.ImagePath 2x"> </div>*@
                            <div> __________________________</div>
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> @item.Conferencia.Ponentes.NomApe</li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> @string.Format("{0: hh:mm tt}", item.Conferencia.FechaConf)</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> @string.Format("{0:dd MMMM yyyy}", item.Conferencia.FechaConf)</li>
                            </ul>
                            <a href="#" class="button hollow">Revisar a conferencia</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>

</body>
