@{ var ponente = (Ponente)Model;
}

<head>
    <link href="/css/Detalle.css" rel="stylesheet" />
</head>

<body class="index">

    <div class="barra">
        <div class="contenedor clearfix">
            <div class="logo">
                <a href="/Home">
                    <img src="/img/LOGO.png" alt="logo">
                </a>
            </div>

            <div class="menu-movil">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="navegacion-principal clearfix">
                <a href="/conferencia/Pasadas">Mis Conferencias</a>
                <a href="/conferencia/Futuras">Calendario</a>
                <a href="#">Invitados</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Login">Login</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Auth/Logout">LogOut</a>
                    <a href="/#">@User.Claims.FirstOrDefault().Value</a>
                }
            </nav>
        </div>
        <!--.contenedor-->
    </div>
    <!--.barra-->
    <!--.Contenido-->


    <div class="contenedor">

        @if (ViewBag.Usuario != "LanRhXXX")
        {
            <a href="/ponente/edit?id=@ponente.Id" class="button hollow"> Editar Ponente</a>
        }

        <h2>@ponente.NomApe</h2>

        <img class="imgRedonda float-right" src="@ponente.Imagen" alt="Imagen de Ponente">

        <div class="contenedor invitado-info">
            <section class="invitados contenedor seccion">
                <p>Título profesional @ponente.Especialidad</p>

                <p>Celular</p>
                <p>@ponente.Telefono</p>

                <p>Email</p>
                <p>@ponente.Telefono</p>

                <h3>Educación y Logros</h3>
                <p>@ponente.Logros</p>

                <h3>Experiencia Laboral</h3>
                <p>@ponente.Experiencia</p>
            </section>
        </div>
        <!-- END .invitado -->
    </div>
</body>

